.App {
  font-family: sans-serif;
  text-align: center;

  margin-top: 5rem;
}

h1 {
  background-color: aqua;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  border-color: blue;
  border-style: solid;
  border-width: 0.5rem;
}

button {
  background-color: pink;
  padding: "6rem";
  margin: "rem";
  font-size: 1.5rem;
  cursor: pointer;
}
